<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type='image/png' href="static/img">
    
    <title>Desafio</title>
</head>
<body>
    <main class="total">
        <div id="esquerdo">
            <img src="./static/img/esquerdo.jpg" class="left"  alt="lado esquerdo">


        </div>

        <!-- <div class="direita">
            <img src="./static/img/Rectangle1.png" class="rigth "alt="direita">
        </div> -->
    
    </main>
</body>
</html>